# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

*.sqlite3

# Flask / instances & secrets
instance/
      # Contient les variables d'environnement
test_db.py       # Script local uniquement

# OS / IDE
.DS_Store
.idea/
.vscode/

# Fichiers générés / temporaires
exports/
static/exports/
static/pdf_temp/
logs_mails/
*.xlsx
*.pdf
*.dump
log_*.txt


# secrets / env
.env
.env.*
*.env
*.env.*
env
env.txt
