# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.sqlite3

# Flask / instances & secrets
instance/
.env
.env.*
*.dump

# OS/IDE
.DS_Store
.idea/
.vscode/
# Fichiers générés / temporaires
exports/
static/exports/
static/pdf_temp/
logs_mails/
*.xlsx
*.pdf
*.dump
log_*.txt
