# --- Core web ---
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
psycopg[binary,pool]==3.2.3
Flask-Migrate==4.1.0
Flask-Mail==0.10.0
python-dotenv==1.1.1
gunicorn==22.0.0

# --- Utils / export ---
pandas==2.2.3
openpyxl==3.1.5
xlwings==0.33.12

# --- PDF/OCR (tes routes PDF) ---
pdfplumber==0.11.6
pdfminer.six==20250327
PyMuPDF==1.25.5
pypdfium2==4.30.1
pdf2image==1.17.0
pytesseract==0.3.13
opencv-python==4.11.0.86
pillow==11.2.1
ImageHash==4.3.2

# --- Divers ---
requests==2.32.3
typing_extensions==4.13.2
